body{
    width: 700px;
    height: 100px;
    margin: 100px auto;
   
}
.icon{
    display: flex;
  }
.plus{
    margin-left: 300px; 
    margin-top: 60px; 
    color: rgb(236, 69, 69);
}  

h2{
    font-size: 50px;
    font-family: sans-serif;
}
.item{
    border: 2px solid rgb(216, 141, 141);
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 180px;
    height: 270px;
    box-shadow: 10px 7px rgba(231, 230, 230, 0.692); 
}
.parent{
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: 20px;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid lightgray;
    margin-left: 10px; 
    padding: 5px;
    
}
h4{
    font-size: 20px;
    color: red;
    text-align: center;
    text-decoration: line-through;
}
h3{
    font-family: Arial, Helvetica, sans-serif; 
    color: gray; 
    font-weight: normal;
    font-size: 22px;
    margin-top: 50px;
    padding: 15px;
}
input{
    margin-left: 10px;
}
label{
    font-size: 20px;
}
@media screen and (min-width:300px) and (max-width:450px){
    body{
        margin: 0;
        width:360px;
    }
    .item{
        width:250px;
        height: 60px;
        border-radius: 0.1px solid lightgrey;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left: 10px;
        margin-right: 1px;
        position:relative;
        
    }
    .parent{
        width: 100%;
        display: flex;
        display: inline-block;

    }
    h2{
        font-size: 30px;
        margin-bottom: 2px;
        display: flex;
    }
    h3{
        display: none;
    }
    h4{
        display: none;
    }
    .icon{
        margin-left:10px;
        display: inline-flex;
    }
    .plus{
        position:absolute;
        justify-content: left;
        display:flex;
        margin-left:60%;
        margin-top: 25px;
    }
    input{
        display:none;
    }
    label{
        display:none;
    }
    p{
       text-align: left;
       font-size: 20px;
       padding-top:1px;
       border-bottom: none;
    }
}
@media screen and (min-width:700px) and (max-width:800px){
    body{
        margin: 0;
        width:700px;
    }
    .item{
        width:550px;
        height: 100px;
        border-radius: 0.1px solid lightgrey;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left: 10px;
        margin-right: 1px;
        position:relative;
        
    }
    .parent{
        width: 100%;
        display: flex;
        display: inline-block;

    }
    h2{
        font-size: 60px;
        margin-bottom: 2px;
        display: flex;
    }
    h3{
        display: none;
    }
    h4{
        display: none;
    }
    .icon{
        margin-left:10px;
        display: inline-flex;
    }
    .plus{
        position:absolute;
        justify-content: left;
        display:flex;
        margin-left:55%;
        margin-top: 60px;
    }
    input{
        display:none;
    }
    label{
        display:none;
    }
    p{
       text-align: left;
       font-size: 40px; 
       padding-bottom: 40px;
    }
    
} 

